body{
  padding:20px 20px;
  background:transparent;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}
::-webkit-scrollbar {
    width: 2px;
